<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="MonsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="PlayerHealthBar"></div>
        </div>
      </section>
      <section class="container" v-if="Match">
        <h3> Game Over !! </h3>
        <h2 v-if="Match=='Player'">You Won ! </h2>
        <h2 v-else-if="Match=='Monster'">Monster Won </h2>
        <h2 v-else> It's a Draw ! </h2>
        <button @click="restart">Restart The Game </button>
      </section>
      <section id="controls">
        <button @click="PlayerAttacking" :disabled="Match">ATTACK</button>
        <button @click="SpecialPlayerAttacking" :disabled="specialAttackOption || Match ">SPECIAL ATTACK</button>
        <button @click="HealPlayer" :disabled="specialAttackOption || Match">HEAL</button>
        <button @click ="Surrendered":disabled="Match">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="value in battleLog">
            <span :class="{'log--player':value.Actioner =='player','log--monster':value.Actioner=='Monster'}">{{value.Actioner==='player'?"Player":"Monster"}}</span>
            <span v-if="value.ActionType==='Heals'">
            Heals For <span class='log--heal'>{{value.Value}}</span>
            </span>
            <span v-else >
              Attacks and Deals <span class='log--damage'>{{value.Value}}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
